{% extends 'base.html' %}

{% block pageInfo %}

    <style type="text/css" rel="stylesheet/css">
        
        main {
            margin-top: calc(max(5vh, 50px));
            padding-top: 30px;
        }
        main h1{
            text-align: center;
            margin:15px 0px;
        }
        
    </style>
    
    <style type="text/css" rel="stylesheet/css">
        /* .navbar-dark{
            
        } */
        .secondary-nav-item {
            color:#212529; /* @tertiaryColor */
        }
        .secondNavbar {
            
            box-shadow: 0px 5px 8px grey;
        }
        main {
            margin-top: calc(max(5vh, 50px) + 83px);
            padding-top: 30px;
        }
        main h1{
            text-align: center;
            margin:15px 0px;
        }
        #loadingSpinner {
            top: 0;
            left: 0;
            max-width: 100%;
            max-height:100%;
        }
        #tableLoadingSpinner {
            top: 0;
            left: 0;
            max-width: 5%;
            max-height:5%;
        }
        .hide {
            display: none;
        }
        #userInterface{
            margin:auto;
            text-align: center;
            display: block;
            
        }
    
    </style>
    <!-- Include script for font awesome icon library -->
    <script defer src="https://use.fontawesome.com/releases/v6.5.1/js/all.js"></script>
        
        
    <script type="text/javascript">
        function ValidateEmail(input) {
            var mailformat = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
            if (mailformat.test(input.value)) {
                input.setAttribute("class","satisfiedInputField");    //The pop up alert for a valid email address
                // document.inquiryForm.getElementById("emailAddress").focus();
                readyToSubmit()
                return true;
            }
            else if (input.value!="" || (input.value=="" && input.hasAttribute("required"))) {
                // alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
                input.setAttribute("class","emptyInputField");
                // document.getElementById("emailAddress").focus();
                return false;
            }
            else {
                input.setAttribute("class","inputField")
                readyToSubmit()
                return true;
            }
        }
        function validate(input) {
            // var mailformat = /^w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/;
            
            if (/^[a-zA-Z0-9&+?_`~-]/.test(input.value)) {
                input.setAttribute("class","satisfiedInputField");    //The pop up alert for a valid email address
                // document.inquiryForm.getElementById("emailAddress").focus();
                readyToSubmit()
                return true;
            }
            else if (input.value!="" || (input.value=="" && input.hasAttribute("required"))) {
                // alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
                input.setAttribute("class","emptyInputField");
                
                // document.getElementById("emailAddress").focus();
                return false;
            }
            else {
                input.setAttribute("class","inputField")
                readyToSubmit()
                return true;
            }
        }
        function readyToSubmit() {
            for (const ele of document.getElementById("newPersonForm").querySelectorAll("[required]")) {
                if (!ele.reportValidity()) {
                    return;
                }
            }
            document.getElementById("submitButton").disabled=false
        }
    </script>

{% endblock %}


{% block mainContent %}
    <main>
        <a name="people"></a>
        <div class="container people">
            <div class="container">
                <button type="button" data-bs-toggle="modal" data-bs-target="#peopleEditModal" id="newPersonButton"><i class="fa-solid fa-user-plus" style="padding-left: 5px;padding-right: 5px;"></i> Add New Tenant...</button>
            </div>
            <div class="container table-responsive-lg" id="render_peopleTable">
                
                <table class="table table-striped table-hover peopleTable">
                    <thead>
                        <tr class="TitleRow">
                            <td diaplay:none class="hide">personID</td>
                            <td>Person</td>
                            <td>Day Phone No.</td>
                            <td>Cell Phone No.</td>
                            <td>Email Address</td>
                            <td>DOB</td>
                            <td>Vehicle(s)</td>
                            <td>Comments</td>
                        </tr>
                    </thead>
                    <tbody id="personTableContent">
                        
                    </tbody>
                </table>
            </div>
            <div class="container justify-content-center" id="userInterface">
                <div class="row">
                    <div class="col">
                        <img src="{{ url_for('static', filename = 'media/spinner.gif') }}" alt="" id="tableLoadingSpinner" class = "">
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <label alt="" id="userMessage" class = "hide userMessage"></label>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // takes care of loading the data and creating/populating the table
            
            window.onload = function() {
                loadTable();
            }
            async function loadTable () {
                const messageBox = document.getElementById('userMessage');
                const loadingSpinner = document.getElementById('tableLoadingSpinner');
                // 0. hide any usermessage
                loadingSpinner.classList.remove('hide')
                messageBox.classList.add('hide')
                messageBox.classList.remove('danger')
                messageBox.innerText = ""

                // 1. Get the data for the table
                
                const response = await fetch(`http://api.hartzlerhome.solutions/admin/people?sessionID=${document.cookie.split('=')[1]}`);
                // console.log(response)
                const data = await response.json()
                if (data.status == 200) {
                    // show Data
                    let newRows = ``
                    for (let personData of data.people) {
                        let newRow = `<tr>
                            <td diaplay:none class="hide">${personData.personID}</td>
                            <td>${personData.name}</td>
                            <td>${personData.phoneNumber}</td>
                            <td>${personData.cellPhoneNumber}</td>
                            <td>${personData.emailAddress}</td>
                            <td>${personData.DOB}</td>
                            <td>${personData.cars}</td>
                            <td>${personData.comments}</td>
                        </tr>`
                        newRows += newRow
                    }
                    document.getElementById('personTableContent').innerHTML = newRows
                } else {
                    console.log(data)
                    messageBox.classList.remove('hide')
                    messageBox.innerText = data.message
                    messageBox.classList.add('danger')
                }
                loadingSpinner.classList.add('hide')
            }
        </script>

        <!-- Modal -->
        <div class="modal fade" id="peopleEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid personData">
                        <form action="" name="newPersonForm" id="newPersonForm">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.firstName(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.firstName.label(class="inputLabel") }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.middleName(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.middleName.label(class="inputLabel") }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.lastName(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.lastName.label(class="inputLabel") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.emailAddress(class="inputField", onfocusout="ValidateEmail(this)") }}
                                    {{ form.emailAddress.label(class="inputLabel") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.phoneNumber(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.phoneNumber.label(class="inputLabel") }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.cellPhoneNumber(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.cellPhoneNumber.label(class="inputLabel") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form.DOB(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.DOB.label(class="inputLabel") }}
                                </div>
                                <div class="col-md-9">
                                    {{ form.cars(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.cars.label(class="inputLabel") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.comments(class="inputField", onfocusout="validate(this)") }}
                                    {{ form.comments.label(class="inputLabel") }}
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <!-- <form action="http://api.hartzlerhome.solutions/admin/people" method="post">
                        
                    </form> -->
                </div>
                <div class="modal-footer">
                    <div class="col col-sm-1">
                        <img src="{{ url_for('static', filename = 'media/spinner.gif') }}" alt="" id="loadingSpinner" class = "hide">
                    </div>
                    <label id="userFormMessage" class="userFormMessage"></label>
                    <button type="button" class="button" tabindex="2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="button" tabindex="1" id="submitButton" onclick="savePerson()" disabled>Save</button>
                </div>
            </div>
            </div>
        </div>
        
        <script type="text/javascript">
            
            function buildJsonData(form) {
                const jsonData = {};
                // const addressInfo = ['houseNumber', 'streetName','city','state','zipCode','apptNo']
                // const details = ['address','bedroomCount','bathroomCount',
                // 'parkingCount', 'garageCount', 'storiesCount', 'homeType', 'yearBuilt',
                // 'purchasePrice', 'purchaseDate', 'schoolDistrict', 'nickname']
                // const junk = []
                
                for (const pair of new FormData(form)) {
                    jsonData[pair[0]] = pair[1];
                    // if (addressInfo.includes(pair[0])) {
                    //     jsonData['address'][pair[0]] = pair[1];
                    // }else if (details.includes(pair[0])) {
                    //     jsonData[pair[0]] = pair[1];
                    // }else if (!junk.includes(pair[0])){
                    //     jsonData['additionalDetails'][pair[0]] = pair[1];
                    // }
                };
                return jsonData
            }

            function buildHeaders () {
                const headers = {
                    "Content-Type": "application/json"
                };
                return headers;
            }
            async function savePerson() {
                const form = document.querySelector("#newPersonForm");
                
                const submitBtn = document.getElementById('submitButton');
                const spinner = document.getElementById('loadingSpinner');
                const messageBox = document.getElementById('userFormMessage');
                submitBtn.disabled = true;
                spinner.classList.remove('hide');
                messageBox.setAttribute("class","")
                messageBox.innerText = "Timeout: No response from server"
                setTimeout(() => submitBtn.disabled = false, 20000);
                setTimeout(() => spinner.classList.add('hide'), 20000);
                
                const jsonData = buildJsonData(form);
                const headers = buildHeaders();

                const response = await submitPostHttpRequest("/people", headers, jsonData);

                if (response) {
                    const status = response.status
                    const jsonResponse = response.message
                    const saveModal = document.querySelector('#peopleEditModal')
                    spinner.classList.add('hide')
                    console.log(jsonResponse)
                    messageBox.innerText = jsonResponse

                    if (status <300) {
                        messageBox.setAttribute("class","success");
                        setTimeout(() => document.location.href = '/people', 2500)
                    } else {
                        messageBox.setAttribute("class", "danger")
                        if ('redirect' in response){
                            setTimeout(()=> document.location.href = response['redirect'], 2500);
                        }
                    }
                }
            }

        </script>
        
    </main>
{% endblock %}