{% extends 'base.html' %}


{% block pageInfo %}

    <style type="text/css" rel="stylesheet/css">
        
        main {
            margin-top: calc(max(5vh, 50px));
            padding-top: 30px;
        }
        main h1{
            text-align: center;
            margin:15px 0px;
        }
        .ourSolutions{
            max-width: 80%;
        }
        .solution {
            margin: 10px 0;
        }
        
    </style>
    
    <style type="text/css" rel="stylesheet/css">
        /* .navbar-dark{
            
        } */
        .secondary-nav-item {
            color:#212529; /* @tertiaryColor */
        }
        .secondNavbar {
            
            box-shadow: 0px 5px 8px grey;
        }
        main {
            margin-top: calc(max(5vh, 50px) + 83px);
            padding-top: 30px;
        }
        main h1{
            text-align: center;
            margin:15px 0px;
        }
        .ourTeam{
            max-width: 80%;
        }
        .team {
            margin: 10px 0;
        }
        
    </style>

{% endblock %}

{% block mainContent %}
    <main>
        <a name="ourSolutions"></a>
        <div class="container ourSolutions">
            <h1>Our Solutions</h1>
            <div class="container" id="render_solutions">
                {% for solution in solutions %}
                <div class="row employee">
                    <div class="col-md-3 d-flex justify-content-center" style = "vertical-align: middle;">
                        <!-- <a href="product_reviews.html?type={{solution.PageID}}" class="justify-content-center"> -->
                            <i class="fas {{solution.Icon}} fa-6x" style = 'vertical-align: middle;'></i>
                        <!-- </a> -->
                    </div>
                    <div class="col-md-9">
                        <h4 class="solution">{{solution.DepartmentName}}</h4>
                        
                        <p class="employeeIntroduction">
                            {{solution.Description}}
                        </p>
                        <a href="product_reviews.html?type={{solution.PageID}}"><p class="productReviewIntro">See Product Reviews</p></a>
                    </div>
                </div>
                <hr class="partial center"/>
                {% endfor %}
            </div>

            <div class="col solution d-flex justify-content-center">
                <a href="about_us/contact_us.html"><button class="nav-button">Contact Us</button></a>
            </div>
        </div>
        

        
    </main>
{% endblock %}
