{% extends 'base.html' %}

{% block pageInfo %}

<style type="text/css" rel="stylesheet/css">
    /* .navbar-dark{
        
    } */
    .secondary-nav-item {
        color:#212529; /* @tertiaryColor */
    }
    .secondNavbar {
        
        box-shadow: 0px 5px 8px grey;
    }
    main {
        margin-top: calc(max(5vh, 50px) + 83px);
        padding-top: 30px;
    }
    main h1, main h2,.contactUs p {
        text-align: center;
        margin:15px 0px;
    }
    .contactUs{
        max-width: 90%;
    }
    .team, .cc {
        margin: 10px 0;
        width: 100%;
    }

    .cc div{
        padding:0px;
        margin: 0px 2px;
        width: 100%;
        max-width: 100%;
        max-height:100%;
    }
    form{
        padding: 20px;
        border-radius: 7px;
        border: 3px solid #212529;
        margin-bottom: 50px;
    }        
    #loadingSpinner {
        top: 0;
        left: 0;
        max-width: 100%;
        max-height:100%;
    }
    .hide {
        display: none;
    }
    
</style>
<script type="text/javascript">
    function ValidateEmail(input) {
        var mailformat = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
        if (mailformat.test(input.value)) {
            input.setAttribute("class","satisfiedInputField");    //The pop up alert for a valid email address
            // document.inquiryForm.getElementById("emailAddress").focus();
            // readyToSubmit()
            return true;
        }
        else if (input.value!="" || (input.value=="" && input.hasAttribute("required"))) {
            // alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
            input.setAttribute("class","emptyInputField");
            // document.getElementById("emailAddress").focus();
            return false;
        }
        else {
            input.setAttribute("class","inputField")
            // readyToSubmit()
            return true;
        }
    }
    function validate(input) {
        // var mailformat = /^w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/;
        
        if (/^[a-zA-Z0-9&+?_`~-]/.test(input.value)) {
            input.setAttribute("class","satisfiedInputField");    //The pop up alert for a valid email address
            // document.inquiryForm.getElementById("emailAddress").focus();
            // readyToSubmit()
            return true;
        }
        else if (input.value!="" || (input.value=="" && input.hasAttribute("required"))) {
            // alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
            input.setAttribute("class","emptyInputField");
            
            // document.getElementById("emailAddress").focus();
            return false;
        }
        else {
            input.setAttribute("class","inputField")
            // readyToSubmit()
            return true;
        }
    }
    function readyToSubmit() {
        for (const ele of document.getElementById("newUserSignup").querySelectorAll("[required]")) {
            if (!ele.reportValidity()) {
                return false;
            }
        }
        return true;
        // document.getElementById("submitButton").disabled=false
    }
    
    function checkPasswords(input) {
        // alert(document.getElementById("password").value)
        if (input.value != document.getElementById("password").value) {
            input.setAttribute("class","emptyInputField")
            // alert("The passwords do not match.")
            document.getElementById("userMessage").setAttribute("class", "danger")//alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
            document.getElementById("userMessage").innerText = "The passwords do not match!"

            return false;
        }
        else if (input.value == document.getElementById("password").value){
            input.setAttribute("class","satisfiedInputField")
            document.getElementById("userMessage").setAttribute("class", "")
            document.getElementById("userMessage").innerHTML = ""
            return true;
        }
        else {
            input.setAttribute("class","inputField")
            return true;
        }

    }
    // function validateSubmit(input) {
    //     // var mailformat = /^w+([.-]?w+)*@w+([.-]?w+)*(.w{2,3})+$/;
    //     alert(input)
    //     // if (/^[a-zA-Z0-9&+?_`~-]/.test(input.value)) {
    //     //     input.setAttribute("class","satisfiedInputField");    //The pop up alert for a valid email address
    //     //     // document.inquiryForm.getElementById("emailAddress").focus();
    //     //     return true;
    //     // }
    //     // else if (input.value!="" || (input.value=="" && input.hasAttribute("required"))) {
    //     //     // alert("You have entered an invalid email address!");    //The pop up alert for an invalid email address
    //     //     input.setAttribute("class","emptyInputField");
    //     //     // document.getElementById("emailAddress").focus();
    //     //     return false;
    //     // }
    //     // else {
    //         //     input.setAttribute("class","inputField")
    //         //     return true;
    //         // }
    //     }
        

</script>
{% endblock %}




{% block mainContent %}
<main>
    <a name="contactUs"></a>
    <div class="container  contactUs">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h1>Create a new landlord account</h1>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-sm-7 infoRequest">
                    <form action="" name="inquiryForm" id="newUserSignup">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.firstName(class="inputField", onfocusout="validate(this)") }}
                                {{ form.firstName.label(class="inputLabel") }}
                            </div>
                            <div class="col-md-6">
                                {{ form.lastName(class="inputField", onfocusout="validate(this)") }}
                                {{ form.lastName.label(class="inputLabel") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.companyName(class="inputField", onfocusout="validate(this)") }}
                                {{ form.companyName.label(class="inputLabel") }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.emailAddress(class="inputField", onfocusout="ValidateEmail(this)") }}
                                {{ form.emailAddress.label(class="inputLabel") }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.houseNumber(class="inputField", onfocusout="validate(this)") }}
                                {{ form.houseNumber.label(class="inputLabel") }}
                            </div>
                            <div class="col-md-7">
                                {{ form.streetName(class="inputField", onfocusout="validate(this)") }}
                                {{ form.streetName.label(class="inputLabel") }}
                            </div>
                            <div class="col-md-2">
                                {{ form.apptNo(class="inputField", onfocusout="validate(this)") }}
                                {{ form.apptNo.label(class="inputLabel") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                {{ form.city(class="inputField", onfocusout="validate(this)") }}
                                {{ form.city.label(class="inputLabel") }}
                            </div>
                            <div class="col-md-3">
                                {{ form.state(class="inputField", onfocusout="validate(this)") }}
                                {{ form.state.label(class="inputLabel") }}
                            </div>
                            <div class="col-md-4">
                                {{ form.zipCode(class="inputField", onfocusout="validate(this)") }}
                                {{ form.zipCode.label(class="inputLabel") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.companyPhone(class="inputField", onfocusout="validate(this)") }}
                                {{ form.companyPhone.label(class="inputLabel") }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.phoneNumber(class="inputField", onfocusout="validate(this)") }}
                                {{ form.phoneNumber.label(class="inputLabel") }}
                            </div>
                            
                        </div>
                        <!-- <div class="row">
                            <div class="col">
                                <input class="inputField" id="username" name="username" onfocusout="validate(this)" required/><br/>
                                <label class="inputLabel"  for="username">Username :</label>
                            </div>
                            
                        </div> -->
                        <div class="row">
                            <div class="col">
                                {{ form.password(class="inputField", onfocusout="validate(this)") }}
                                {{ form.password.label(class="inputLabel") }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.password_confirm(class="inputField", onfocusout="checkPasswords(this)") }}
                                {{ form.password_confirm.label(class="inputLabel") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label id="userMessage" class="userMessage"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-5">
                                <button class="nav-button" id="submitButton">Create</button>
                            </div>
                            <div class="col col-sm-6">
                                
                            </div>
                            <div class="col col-sm-1">
                                <img src="{{ url_for('static', filename = 'media/spinner.gif') }}" alt="" id="loadingSpinner" class = "hide">
                            </div>
                            
                        </div>
                    </form>
                </div>
                <script type="text/javascript">
                
                function buildJsonData(form) {
                    const jsonData = { };
                    
                    for (const pair of new FormData(form)) {
                        jsonData[pair[0]] = pair[1];
                    };
                    return jsonData
                }
                
                function buildHeaders() {
                    const headers = {
                        "Content-Type": "application/json",
                        // "Access-Control-Allow-Origin": '*'
                    };
                    return headers;
                }
                
                async function submitForm(e, form) {
                    // 1. Prevent reloading the page
                    e.preventDefault();

                    if (!readyToSubmit()){
                        return
                    }
                    // 2. Submit the form
                    // 2.1 User Interaction
                    const submitBtn = document.getElementById('submitButton');
                    const spinner = document.getElementById('loadingSpinner');
                    const messageBox = document.getElementById('userMessage');
                    submitBtn.disabled = true;
                    spinner.classList.remove('hide');
                    messageBox.setAttribute("class","")
                    messageBox.innerText = ""
                    
                    setTimeout(() => submitBtn.disabled = false, 2400);
                    setTimeout(() => spinner.classList.add('hide'), 2400);
                    // 2.2 Build JSON data
                    const jsonData = buildJsonData(form);
                    
                    const headers = buildHeaders();
                    
                    const response = await submitPostHttpRequest(`/newUser`, headers, jsonData);
                    if (response) {
                        const status = response.status
                        const jsonResponse = response.message
                        spinner.classList.add('hide')
                        console.log(jsonResponse)
                        messageBox.innerText = jsonResponse
                        
                        if (status <300) {
                            messageBox.setAttribute("class","success")
                            setTimeout(() => document.location.href = '/login', 2500);
                        } else {
                            messageBox.setAttribute("class","danger")
                            
                            // submitBtn.disabled = false
                        }
                    }
                }
                
                const newUserForm = document.querySelector("#newUserSignup");
                if (newUserForm) {
                    newUserForm.addEventListener("submit", function(e) {
                        submitForm(e, this);
                    });
                }
            </script>
            </div>
        </div>
    </div>
</main>{% endblock %}